/* ~~~~ Colours */

/* coral = #fd5e53 */
/* navy blue = #002366 */
/* ink blue = #483D8B */
/* MS Word blue-grey = #666699 */
/* royal blue = #5576D1 */
/* miami blue = #96b9ee */
/* bordeaux = #800020 */
/* black = #000000 */
/* white = #ffffff */


/* ~~~~ General Definitions */

h1 {
	font-family: CMU Serif;
	font-size: 1.75vw; 
	color: #483D8B;
	text-align: left;
	letter-spacing: 0.25vw;
	font-weight: normal;
	font-variant: small-caps;
	margin: 0rem;
}

h2 {
	font-family: CMU Serif;
	font-size: 1.25vw;
	color: #483D8B;
	font-weight: normal;
}

h3 {
	font-family: CMU Bold;
	font-size: 0.95vw;
	color: #483D8B;
	font-weight: normal;
}

h4 {
	font-family: CMU Bold;
	font-size: 0.95vw;
	color: #483D8B;
	font-weight: normal;
	display: inline;
}

body {
	background-color: #F5F5F5;
	margin: 0rem;
}

@font-face {
	font-family: Proxima;
	src: url(fonts/ProximaNova-Regular.ttf);
}

@font-face {
	font-family: ProximaBk;
	src: url(fonts/ProximaNova-Black.ttf);
}

@font-face {
	font-family: ProximaBd;
	src: url(fonts/ProximaNova-Bold.ttf);
}

@font-face {
	font-family: CMU Bold;
	src: url(fonts/CMUBold.ttf);
}

@font-face {
	font-family: Broadway;
	src: url(fonts/Broadway Regular.ttf);
}


/* ~~~~  Page Template */ 

.header {

}

	.topnavigation {
		font-family: ProximaBd;
		background-color: #ffffff;
		padding-left: 6.25%;
		padding-right: 6.25%;
	} 

		.topnav-title {
			float: left;
			letter-spacing: 0.25vw;
			word-spacing: 0.5vw;
			line-height: 1.75vw;
			padding-top: 1.05rem;
			padding-bottom: 1.15rem;
		}

			.topnav-title h2 {
				font-family: CMU Serif;
				font-size: 1.25vw;
				color: #5576D1;
				font-weight: normal;
				font-variant: small-caps;
				margin: 0rem;
			}

		.topnav-nav {
			text-align: right; 
			letter-spacing: 0.25vw;
			word-spacing: 0.5vw;
			line-height: 1.5vw;
			padding-top: 1.75rem;
			padding-bottom: 1.75rem;
		}

			.pages {
				color: #483D8B;
				font-size: 1.125vw;
			}

				.pages a:link {
					color: #483D8B;
					text-decoration: none;
				}

				.pages a:visited {
					color: #483D8B;
					text-decoration: none;
				}

				.pages a:hover {
					color: #96b9ee;
					text-decoration: none;
					border-bottom: 2.5px solid #483D8B;
				}

			.social {
				color: #5576D1;
				font-size: 0.95vw;
			}

				.social a:link {
					color: #5576D1;
					text-decoration: none;
				}

				.social a:visited {
					color: #5576D1;
					text-decoration: none;
				}

				.social a:hover {
					color: #96b9ee;
					text-decoration: none;
					border-bottom: 2.5px solid #5576D1;
				}

/* .time {
	margin: 0rem;
	padding: 0rem;
	height: 5.65rem;
	background-color: #006039;
	position: sticky;
	position: -webkit-sticky;
  	top: 0;
  	z-index: 1;
  	box-shadow: 0px 5px 10px -5px #000000;
}

	.rolex_clock {
		margin: 0rem;
		padding-bottom: 0.6rem;
   		width: 100%;
   		height: 5.65rem;
    	background-color: #006039;
	} */

.footer {
	font-family: CMU Serif;
	font-size: 0.95vw;
	text-align: center;
	color: #483D8B;
	background-color: #ffffff;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
	margin: 0rem;
}


/* ~~~~ Home */

.home-image {
	background-image: url("pics-home/wall.png");
	background-attachment: fixed;
  	background-position: top;
  	background-repeat: no-repeat;
  	background-size: cover;
  	text-align: left;
}

	.endorse-cage, .credit-cage {
		padding-top: 1%;
		padding-left: 32.5%;
		padding-right: 32.5%;
		text-align: center;
		margin: center;
	}

		.endorse, .credit {
			font-family: CMU Serif;
			font-size: 1.125vw;
			letter-spacing: 0.25vw;
			word-spacing: 0.5vw;
			display: inline;
			text-shadow: 1.5px 1.5px 10px #000000;
		}

			.endorse a:link {
				color: #ffffff;
				text-decoration: none;
				opacity: 75%;
			}

			.endorse a:visited {
				color: #ffffff;
				text-decoration: none;
				opacity: 75%;
			}

			.endorse a:hover {
				color: #ffffff;
				text-decoration: none;
				opacity: 50%;
			}

	.titles-buttons {
		padding-top: 12.5%;
		padding-bottom: 15%;
	  	padding-left: 12.5%;
  		padding-right: 12.5%;
	}

		.home-image h1 {
			font-family: CMU Serif;
			font-size: 5vw;
			font-variant: small-caps;
			color: #ffffff;
			letter-spacing: 1vw;
			text-shadow: 1.5px 1.5px 10px #000000;
			opacity: 75%;
			margin-top: 0rem;
			margin-bottom: 0rem;
		}

		.home-image h2 {
			font-family: CMU Serif;
			font-size: 1.75vw;
			color: #ffffff;
			letter-spacing: 0.5vw;
			text-shadow: 1.5px 1.5px 10px #000000;
			opacity: 75%;
			margin-top: 0rem;
			margin-bottom: 1.25vw;
		}

		.home-image-buttons {
			text-align: left;
		}

			.btn {
		  		font-family: CMU Serif;
		  		font-size: 0.95vw;
		  		text-align: left;
				letter-spacing: 0.35vw;
				padding-top: 0.75vw;
				padding-bottom: 0.75vw;
				padding-left: 1.55vw;
				padding-right: 1.35vw;
				cursor: pointer;
			}

			.uni-button {
				border: 0.125rem solid #ffffff;
				background-color: #ffffff00;
				color: #ffffff;
				opacity: 75%;
				margin-bottom: 1.25vw;
			}

			.uni-button:hover {
		  		border-color: #ffffff; 
				background-color: #ffffff;
				color: #000000; 
				opacity: 75%;
			}

			.car-button {
				border: 0.125rem solid #ffffff;
				background-color: #ffffff00;
				color: #ffffff;
				opacity: 75%;
			}

			.car-button:hover {
				border-color: #ffffff; 
				background-color: #ffffff;
				color: #000000; 
				opacity: 75%;
			}

	.credit-cage {
		padding-bottom: 0.75%;
		padding-left: 12.5%;
		padding-right: 12.5%;
		text-align: right;
	}

		.credit {
			font-family: CMU Serif;
			font-size: 1vw;
			color: #ffffff;
			opacity: 75%;
			letter-spacing: 0vw;
			word-spacing: 0vw;
			text-shadow: 1.5px 1.5px 10px #000000;
		}

			.credit a:link {
				color: #ffffff;
				text-decoration: none;
			}

			.credit a:visited {
				color: #ffffff;
				text-decoration: none;
			}

			.credit a:hover {
				color: #ffffff;
				text-decoration: none;
				opacity: 50%;
			}		

.sumstats {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.summstatstxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: center;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.25rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

		.imgdrop {
  			display: inline-block;
  			position: auto;
  			padding-top: 1.75rem;
		}

		.imgdrop:hover .imgdropcont {
  			display: block;
  		}

			.meimg {
				max-width: 25%;
				max-height: 25%;
			}

			.meimg:hover {
				cursor: pointer;
				opacity: 0.5;
			}

			.imgdropcont {
				display: none;
  				position: absolute;
  				background-color: #F5F5F5;
  				margin-left: 15%;
				box-shadow: 5px 5px 10px #D3D3D3;
			}

			.meimgbig {
				max-width: 20rem;
				max-height: 20rem;
			}

		.collapsible-sum {
			font-family: CMU Serif;
			font-size: 0.95vw;
  			background-color: #F5F5F5;
  			color: #483D8B;
  			cursor: pointer;
  			padding: 0.75rem;
  			width: 100%;
  			border: none;
  			outline: none;
  			border-radius: 0.75rem;
		}

		.active-sum, .collapsible-sum:hover {
  			background-color: #A9A9A9;
  			color: #FFFFFF;
		}

		.active-sum, .collapsible-sum:active {
			border-top-left-radius: 0.75rem;
			border-top-right-radius: 0.75rem;
  			border-bottom-left-radius: 0rem;
  			border-bottom-right-radius: 0rem;
		}

		.content-sum {
  			background-color: #F5F5F5;
			padding-left: 1.25rem;
			padding-right: 1.25rem;
  			display: none;
  			overflow: hidden;
		}

.sumtxt {
	padding-bottom: 1.2rem;
	padding-left: 12.5%; 
	padding-right: 12.5%;
}

	.summtxttxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.sumtxt a:link {
		color: #483D8B;
		text-decoration: none;
	}

	.sumtxt a:visited {
		color: #483D8B;
		text-decoration: none;
	}

	.sumtxt a:hover {
		color: #96b9ee;
		text-decoration: none;
		border-bottom: 2.5px solid #483D8B;
	}

.skills {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.skillstxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.25rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

		.collapsible-skills {
			font-family: CMU Serif;
			font-size: 0.95vw;
			text-align: left;
  			background-color: #F5F5F5;
  			color: #483D8B;
  			cursor: pointer;
  			padding-top: 0.75rem;
  			padding-bottom: 0.75rem;
  			padding-left: 1.25rem;
  			width: 100%;
  			border: none;
  			outline: none;
  			border-radius: 0.75rem;
		}

		.active-skills, .collapsible-skills:hover {
  			background-color: #A9A9A9;
  			color: #FFFFFF;
		}

		.active-skills, .collapsible-skills:active {
			border-top-left-radius: 0.75rem;
			border-top-right-radius: 0.75rem;
  			border-bottom-left-radius: 0rem;
  			border-bottom-right-radius: 0rem;
		}

		.content-skills {
  			background-color: #F5F5F5;
			padding-left: 1.25rem;
			padding-right: 1.25rem;
  			display: none;
  			overflow: hidden;
		}

.values {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.valuestxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.25rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

		.collapsible-values {
			font-family: CMU Serif;
			font-size: 0.95vw;
			text-align: left;
  			background-color: #F5F5F5;
  			color: #483D8B;
  			cursor: pointer;
  			padding-top: 0.75rem;
  			padding-bottom: 0.75rem;
  			padding-left: 1.25rem;
  			width: 100%;
  			border: none;
  			outline: none;
  			border-radius: 0.75rem;
		}

		.active-values, .collapsible-values:hover {
  			background-color: #A9A9A9;
  			color: #FFFFFF;
		}

		.active-values, .collapsible-values:active {
			border-top-left-radius: 0.75rem;
			border-top-right-radius: 0.75rem;
  			border-bottom-left-radius: 0rem;
  			border-bottom-right-radius: 0rem;
		}

		.content-values {
  			background-color: #F5F5F5;
			padding-left: 1.25rem;
			padding-right: 1.25rem;
  			display: none;
  			overflow: hidden;
		}

.interests {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.intereststxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.25rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

		.collapsible-interests {
			font-family: CMU Serif;
			font-size: 0.95vw;
			text-align: left;
  			background-color: #F5F5F5;
  			color: #483D8B;
  			cursor: pointer;
  			padding-top: 0.75rem;
  			padding-bottom: 0.75rem;
  			padding-left: 1.25rem;
  			width: 100%;
  			border: none;
  			outline: none;
  			border-radius: 0.75rem;
		}

		.active-interests, .collapsible-interests:hover {
  			background-color: #A9A9A9;
  			color: #FFFFFF;
		}

		.active-interests, .collapsible-interests:active {
			border-top-left-radius: 0.75rem;
			border-top-right-radius: 0.75rem;
  			border-bottom-left-radius: 0rem;
  			border-bottom-right-radius: 0rem;
		}

		.content-interests {
  			background-color: #F5F5F5;
			padding-left: 1.25rem;
			padding-right: 1.25rem;
  			display: none;
  			overflow: hidden;
		}

.specification {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.specificationtxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.25rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

		.specificationtxt u {
			text-decoration: none;
		}

			.specification li {
				padding-left: 1vw;
			}

		.collapsible-spec {
			font-family: CMU Serif;
			font-size: 0.95vw;
			text-align: left;
  			background-color: #F5F5F5;
  			color: #483D8B;
  			cursor: pointer;
  			padding-top: 0.75rem;
  			padding-bottom: 0.75rem;
  			padding-left: 1.25rem;
  			width: 100%;
  			border: none;
  			outline: none;
  			border-radius: 0.75rem;
		}

		.active-spec, .collapsible-spec:hover {
  			background-color: #A9A9A9;
  			color: #FFFFFF;
		}

		.active-spec, .collapsible-spec:active {
			border-top-left-radius: 0.75rem;
			border-top-right-radius: 0.75rem;
  			border-bottom-left-radius: 0rem;
  			border-bottom-right-radius: 0rem;
		}

		.content-spec {
  			background-color: #F5F5F5;
			padding-left: 1.25rem;
			padding-right: 1.25rem;
  			display: none;
  			overflow: hidden;
		}

.fyi {
	padding-bottom: 3.7rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.fyitxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.fyi a:link {
		color: #483D8B;
		text-decoration: none;
	}

	.fyi a:visited {
		color: #483D8B;
		text-decoration: none;
	}

	.fyi a:hover {
		color: #96b9ee;
		text-decoration: none;
		border-bottom: 2.5px solid #483D8B;
	}

/* .home-image2 {
	background-image: url("wall2.png");
	background-attachment: fixed;
  	background-position: top;
  	background-repeat: no-repeat;
  	background-size: cover;
  	padding: 25%;
} */


/* ~~~~ University */

.uni-time {
	padding-top: 2.5%;
	padding-left: 12.5%;
	padding-right: 12.5%;
	font-family: Proxima;
	text-align: center;
	color: #5576D1;
}

.classes {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.classestxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.classes a:link {
		color: #483D8B;
		text-decoration: none;
	}

	.classes a:visited {
		color: #483D8B;
		text-decoration: none;
	}

	.classes a:hover {
		color: #96b9ee;
		text-decoration: none;
		border-bottom: 2.5px solid #483D8B;
	}

.writings {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.writingstxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.writings a:link {
		color: #483D8B;
		text-decoration: none;
	}

	.writings a:visited {
		color: #483D8B;
		text-decoration: none;
	}

	.writings a:hover {
		color: #96b9ee;
		text-decoration: none;
		border-bottom: 2.5px solid #483D8B;
	}

.roles {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.rolestxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}


/* ~~~~ Career */

.car-time {
	padding-top: 2.5%;
	padding-left: 12.5%;
	padding-right: 12.5%;
	font-family: Proxima;
	text-align: center;
	color: #483D8B;
}
	
	.car-time a:link {
		color: #483D8B;
		text-decoration: none;
	}

	.car-time a:visited {
		color: #483D8B;
		text-decoration: none;
	}

	.car-time a:hover {
		color: #96b9ee;
		text-decoration: none;
		border-bottom: 2.5px solid #483D8B;
	}

.cartime {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.cartimetxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.cartime a:link {
		color: #483D8B;
		text-decoration: none;
	}

	.cartime a:visited {
		color: #483D8B;
		text-decoration: none;
	}

	.cartime a:hover {
		color: #96b9ee;
		text-decoration: none;
		border-bottom: 2.5px solid #483D8B;
	}

.income {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.incometxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}


/* ~~~~ Development */

.knowledge {
	padding-top: 2.5%;
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.knowledgetxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.knowledge u {
		text-decoration: none;
	}

		.knowledge th, td {
			text-align: left;
			vertical-align: top;
			padding-right: 2.5rem;
		}

.media {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.mediatxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.media u {
		text-decoration: none;
	}

		.media th, td {
			text-align: left;
			vertical-align: top;
			padding-right: 2.5rem;
		}

.world {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.worldtxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.world u {
		text-decoration: none;
	}

		.world th, td {
			text-align: left;
			vertical-align: top;
			padding-right: 2.5rem;
		}

.fooddrink {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.fooddrinktxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.fooddrink u {
		text-decoration: none;
	}

		.fooddrink th, td {
			text-align: left;
			vertical-align: top;
			padding-right: 2.5rem;
		}

.restaurants {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.restaurantstxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.restaurants u {
		text-decoration: none;
	}

		.restaurants th, td {
			text-align: left;
			vertical-align: top;
			padding-right: 2.5rem;
		}

.brands {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.brandstxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.brands u {
		text-decoration: none;
	}

		.brands th, td {
			text-align: left;
			vertical-align: top;
			padding-right: 2.5rem;
		}


/* ~~~~ Showcase */

.showintro {
	padding-top: 2.5%;
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.showintrotxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

.achieve {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.achievetxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

.socialwell {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.socialwelltxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}


/* ~~~~ Blog */

.blogintro {
	padding-top: 2.5%;
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.blogintrotxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

.blogshell {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.blogshelltxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.blogshell a:link {
		color: #483D8B;
		text-decoration: none;
	}

	.blogshell a:visited {
		color: #483D8B;
		text-decoration: none;
	}

	.blogshell a:hover {
		color: #96b9ee;
		text-decoration: none;
		border-bottom: 2.5px solid #483D8B;
	}

.debunk {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.debunktxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.25rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

		.collapsible-debunk {
			font-family: CMU Serif;
			font-size: 0.95vw;
			text-align: left;
  			background-color: #F5F5F5;
  			color: #483D8B;
  			cursor: pointer;
  			padding-top: 0.75rem;
  			padding-bottom: 0.75rem;
  			padding-left: 1.25rem;
  			width: 100%;
  			border: none;
  			outline: none;
  			border-radius: 0.75rem;
		}

		.active-debunk, .collapsible-debunk:hover {
  			background-color: #A9A9A9;
  			color: #FFFFFF;
		}

		.active-debunk, .collapsible-debunk:active {
			border-top-left-radius: 0.75rem;
			border-top-right-radius: 0.75rem;
  			border-bottom-left-radius: 0rem;
  			border-bottom-right-radius: 0rem;
		}

		.content-debunk {
  			background-color: #F5F5F5;
			padding-left: 1.25rem;
			padding-right: 1.25rem;
  			display: none;
  			overflow: hidden;
		}


/* ~~~~ Blog - GWC */

.gwcintro {
	padding-top: 2.5%;
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.gwcintrotxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.gwcintro a:link {
		color: #483D8B;
		text-decoration: none;
	}

	.gwcintro a:visited {
		color: #483D8B;
		text-decoration: none;
	}

	.gwcintro a:hover {
		color: #96b9ee;
		text-decoration: none;
		border-bottom: 2.5px solid #483D8B;
	}

.gwcbody {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.gwcbodytxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 2.5rem;
		padding-bottom: 0.2rem;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		border-radius: 0.75rem;
	}

	.gwcbody img {
		width: 17.5rem;
	}

.cafetour-gwc {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.cafetour-gwctxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.cafetour-gwc u {
		text-decoration: none;
	}

		.cafetour-gwc th, td {
			text-align: left;
			vertical-align: top;
			padding-right: 2.5rem;
		}


/* ~~~~ Blog - FRC */

.frcintro {
	padding-top: 2.5%;
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.frcintrotxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.frcintro a:link {
		color: #483D8B;
		text-decoration: none;
	}

	.frcintro a:visited {
		color: #483D8B;
		text-decoration: none;
	}

	.frcintro a:hover {
		color: #96b9ee;
		text-decoration: none;
		border-bottom: 2.5px solid #483D8B;
	}

.frcbody {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.frcbodytxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 2.5rem;
		padding-bottom: 0.2rem;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		border-radius: 0.75rem;
	}

	.frcbody td {
		text-align: center;
		padding-bottom: 2.5rem;
	}

	.frcbody img {
		width: 17.5rem;
	}


/* ~~~~ Blog - B&H */

.bhtintro {
	padding-top: 2.5%;
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.bhtintrotxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.bhtintro a:link {
		color: #483D8B;
		text-decoration: none;
	}

	.bhtintro a:visited {
		color: #483D8B;
		text-decoration: none;
	}

	.bhtintro a:hover {
		color: #96b9ee;
		text-decoration: none;
		border-bottom: 2.5px solid #483D8B;
	}

.bhtbody {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.bhtbodytxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 2.5rem;
		padding-bottom: 0.2rem;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		border-radius: 0.75rem;
	}

	.bhtbody img {
		width: 17.5rem;
	}

.cafetour-bh {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.cafetour-bhtxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.cafetour-bh u {
		text-decoration: none;
	}

		.cafetour-bh th, td {
			text-align: left;
			vertical-align: top;
			padding-right: 2.5rem;
		}


/* ~~~~ Blog - NVA */

.nvaintro {
	padding-top: 2.5%;
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.nvaintrotxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

.nvabody {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.nvabodytxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.nvabody a:link {
		color: #483D8B;
		text-decoration: none;
	}

	.nvabody a:visited {
		color: #483D8B;
		text-decoration: none;
	}

	.nvabody a:hover {
		color: #96b9ee;
		text-decoration: none;
		border-bottom: 2.5px solid #483D8B;
	}


/* ~~~~ Blog - FF */

.fathersintro {
	padding-top: 2.5%;
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.fathersintrotxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

.fathersbody {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.fathersbodytxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.fatherstxt td {
		padding-bottom: 5rem;
	}


/* ~~~~ Blog - PIU */

.piuintro {
	padding-top: 2.5%;
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.piuintrotxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

.piubody {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.piubodytxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.piubodytxt u {
		text-decoration: none;
	}

	.piubodytxt a:link {
		color: #483D8B;
		text-decoration: none;
	}

	.piubodytxt a:visited {
		color: #483D8B;
		text-decoration: none;
	}

	.piubodytxt a:hover {
		color: #96b9ee;
		text-decoration: none;
		border-bottom: 2.5px solid #483D8B;
	}


/* ~~~~ Blog - MV */

.mvintro {
	padding-top: 2.5%;
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.mvintrotxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

.mvbody {
	padding-bottom: 1.2rem;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

	.mvbodytxt {
		font-family: CMU Serif;
		font-size: 0.95vw;
		text-align: justify;
		line-height: 1.5vw;
		color: #483D8B;
		background-color: #ffffff;
		padding-top: 0.2rem;
		padding-bottom: 1.2rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		border-radius: 0.75rem;
	}

	.mvbodytxt u {
		text-decoration: none;
	}

	.mvbodytxt a:link {
		color: #483D8B;
		text-decoration: none;
	}

	.mvbodytxt a:visited {
		color: #483D8B;
		text-decoration: none;
	}

	.mvbodytxt a:hover {
		color: #96b9ee;
		text-decoration: none;
		border-bottom: 2.5px solid #483D8B;
	}






	

	