/* Color Legend */

/*
black: #000000;
light-grey: #F5F5F5; 		background when LIGHT
white: #FFFFFF;			foreground when LIGHT
grey: #232323;			foreground when DARK
ink-blue: #483D8B; 		font when LIGHT
royal-blue: #5576D1; 		font when DARK
navy-blue: #002366;
miami-blue: #96B9EE;		font hover, usually
coral: #FD5E53;
bordeaux: #800020;
*/

/* Variables */

:root {
	--bg: #F5F5F5;
	--fg: #FFFFFF;
	--font: #483D8B;
	--font2: #96B9EE;		
	--font-hover: #96B9EE;
	--font2-hover: #483D8B;
	--ghost: #FFFFFF;
	--drop-bar-hover: #DCDCDC;
	--miami: linear-gradient(to bottom,rgba(250,125,0,0.25),rgba(250,145,230,0.25));
	--miami-solid: linear-gradient(to bottom,rgba(250,125,0,1),rgba(220,60,100,1));

	--bg-dark: #323232;
	--fg-dark: #232323;
	--font-dark: #FFFFFF;
	--font2-dark: #96B9EE;
	--drop-bar-hover-dark: #181818;

	--bg-miami: #FF4F78;
	--fg-miami: #FD5E53;
	--font-miami: #FFFFFF;
	--font2-miami: #96B9EE;
	--drop-bar-hover-miami: #96B9EE;
}

/* Dark/Party Mode */

.dark h1, .dark h2, .dark h3, .dark h4 {
	color: var(--font-dark);
}

.dark body {
	background-color: var(--bg-dark);
}

.dark.body {
       	color: var(--font-dark);
        background-color: var(--fg-dark);
}

.dark.header {
	background-color: var(--fg-dark);
}

	.dark.title h2 {
                color: var(--font2-dark);
        }

	.dark.title a:link, .dark.title a:visited {
                color: var(--font2-dark);
        }

        .dark.title a:hover, .dark.title a:active {
                color: var(--font2-hover-dark);
                border-bottom: 2.5px solid var(--font-dark);
        }

	.dark.pages {
                color: var(--font-dark);
        }

                .dark.pages a:link, .dark.pages a:visited {
                        color: var(--font-dark);
                }

                .dark.pages a:hover, .dark.pages a:active {
                        color: var(--font-hover-dark);
                        border-bottom: 2.5px solid var(--font-dark);
                }

        .dark.social {
                color: var(--font2-dark);
        }

                .dark.social a:link, .dark.social a:visited {
                        color: var(--font2-dark);
                }

                .dark.social a:hover, .dark.social a:active {
                        color: var(--font2-hover-dark);
                        border-bottom: 2.5px solid var(--font2-dark);
                }

.dark.footer {
        color: var(--font-dark);
        background-color: var(--fg-dark);
}

.dark.collapsible {
        background-color: var(--bg-dark);
        color: var(--font-dark);
}

        .dark.active, .dark.collapsible:hover {
                background-color: var(--drop-bar-hover-dark);
                color: var(--font-dark);
        }

        .dark.content {
                background-color: var(--bg-dark);
        }

.dark.imgdropcont {
        background-color: var(--fg-dark);
        box-shadow: 5px 5px 10px var(--bg-dark);
}

.dark.pretext {
        color: var(--font-dark);
}

        .dark.pretext a:link, .dark.pretext a:visited {
                color: var(--font);
        }

        .dark.pretext a:hover, .dark.pretext a:active {
                color: var(--font-hover-dark);
                border-bottom: 2.5px solid var(--font-dark);
        }

.dark.bodycage a:link, .dark.bodycage a:visited {
        color: var(--font-dark);
}

.dark.bodycage a:hover, .dark.bodycage a:active {
        color: var(--font-hover-dark);
        border-bottom: 2.5px solid var(--font-dark);
}

.dark.body {
        color: var(--font-dark);
        background-color: var(--fg-dark);
} 

table.dark h2, table.dark h4 {
        border-bottom: 0.05vw solid var(--font-dark);
}

/* Dark/Party Mode Toggles */

.switchcage {
	font-family: Proxima;
	letter-spacing: 0.25vw;
    	align-self: flex-end;
    	text-align: right;
	color: var(--ghost);
    	padding-top: 1vw;
    	padding-right: 12.5%;
    	opacity: 75%;
}

	.switch, .switch2 {
	    	font-family: Proxima;
	    	font-size: 0.95vw;
	    	text-align: center;
	    	letter-spacing: 0vw;
	    	display: inline-block;
	    	width: 15em;
	    	cursor: pointer;
	    	border: 0.115em solid var(--ghost);
	    	border-radius: 1.25em;
	    	color: var(--ghost);
		text-decoration:none;
	    	padding: 0.25rem;
	   	margin-left: 0.3125rem;
	}

/* Headings */

h1 {
	font-family: CMU-Serif;
	font-size: 1.75vw; 
	color: var(--font);
	font-weight: normal;
	font-variant: small-caps;
}

h2 {
	font-family: CMU-Serif;
	font-size: 1.25vw;
	color: var(--font);
	font-weight: normal;
}

h3 {
	font-family: CMU-Bold;
	font-size: 0.95vw;
	color: var(--font);
	font-weight: normal;
	font-variant: small-caps;
}

h4 {
	font-family: CMU-Bold;
	font-size: 0.95vw;
	color: var(--font);
	font-weight: normal;
	font-variant: small-caps;
	display: inline;
}

body {
	background-color: var(--bg);
	margin: 0em;
}

b {
	font-family: CMU-Bold;
	font-variant: small-caps;
}

i {
	font-family: CMU-Italic;
}

/* Fonts */

@font-face {
	font-family: CMU-Serif;
	src: url(Fonts/CMUSerif.ttf);
}

@font-face {
	font-family: CMU-Bold;
	src: url(Fonts/CMUBold.ttf);
}

@font-face {
	font-family: CMU-Italic;
	src: url(Fonts/CMUItalic.ttf);
}

@font-face {
	font-family: Proxima;
	src: url(Fonts/ProximaNova-Regular.ttf);
}

@font-face {
	font-family: ProximaBk;
	src: url(Fonts/ProximaNova-Black.ttf);
}

@font-face {
	font-family: ProximaBd;
	src: url(Fonts/ProximaNova-Bold.ttf);
}

@font-face {
	font-family: Broadway;
	src: url(Fonts/Broadway-Regular.ttf);
}

/* Header & Footer */ 

.header {
	font-family: Proxima;
	background-color: var(--fg);
	padding-left: 6.25%;
	padding-right: 6.25%;
} 

	.title {
		float: left;
		letter-spacing: 0.25vw;
		word-spacing: 0.5vw;
		line-height: 1.75vw;
		padding-top: 2.125vw;
	}

		.title h1 {
			font-family: Proxima;
			text-align: left;
			letter-spacing: 0.25vw;
			margin: 0em;
		}

		.title h2 {
			font-family: Proxima;
			font-size: 1.25vw;
			color: var(--font2);
			font-weight: normal;
			font-variant: small-caps;
			margin: 0em;
		}

		.title a:link, .title a:visited {
 		       color: var(--font2);
 		       text-decoration: none;
		}

		.title a:hover, .title a:active {
		        color: var(--font2-hover);
		        text-decoration: none;
		        border-bottom: 2.5px solid var(--font);
		}

	.navigation {
		text-align: right; 
		letter-spacing: 0.25vw;
		word-spacing: 0.5vw;
		line-height: 1.5vw;
		padding-top: 2.25vw;
		padding-bottom: 2.25vw;
	}

		.pages {
			color: var(--font);
			font-size: 1.125vw;
		}

			.pages a:link, .pages a:visited {
				color: var(--font);
				text-decoration: none;
			}

			.pages a:hover, .pages a:active {
				color: var(--font-hover);
				text-decoration: none;
				border-bottom: 2.5px solid var(--font);
			}

		.social {
			color: var(--font2);
			font-size: 0.95vw;
		}

			.social a:link, .social a:visited {
				color: var(--font2);
				text-decoration: none;
			}

			.social a:hover, .social a:active {
				color: var(--font2-hover);
				text-decoration: none;
				border-bottom: 2.5px solid var(--font2);
			}

.time {
	margin: 0em;
	padding: 0em;
	height: 5.65em;
	background-color: #006039;
	position: sticky;
	position: -webkit-sticky;
  	top: 0;
  	z-index: 1;
  	box-shadow: 0px 5px 10px -5px #000000;
}

	.rolex_clock {
		margin: 0em;
		padding-bottom: 0em;
   		width: 100%;
   		height: 5.65em;
    		background-color: #006039;
	}

.footer {
	font-family: Proxima;
	font-size: 0.95vw;
	text-align: center;
	color: var(--font);
	background-color: var(--fg);
	padding-top: 2.25vw;
	padding-bottom: 2.25vw;
	padding-left: 12.5%;
	padding-right: 12.5%;
	margin: 0em;
}

/* Drop-Down Boxes */

.collapsible {
	font-family: CMU-Serif;
	font-size: 0.95vw;
	text-align: left;
	background-color: var(--bg);
	color: var(--font);
	cursor: pointer;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	padding-left: 1.25em;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 0.75em;
}

	.active, .collapsible:hover {
		background-color: var(--drop-bar-hover);
		color: var(--font);
	}

	.active, .collapsible:active {
		border-top-left-radius: 0.75em;
		border-top-right-radius: 0.75em;
		border-bottom-left-radius: 0em;
		border-bottom-right-radius: 0em;
	}

	.content {
		background-color: var(--bg);
		padding-left: 1.25em;
		padding-right: 1.25em;
		display: none;
		overflow: hidden;
	}

/* Drop-Down Images */

.imgdrop {
	display: inline-block;
	position: auto;
	padding-top: 0.75vw;
	padding-bottom: 0.75vw;
}

.imgdrop:hover .imgdropcont {
	display: block;
}

.imgdropcont {
	display: none;
	position: absolute;
	background-color: var(--fg);
	box-shadow: 5px 5px 10px var(--bg);
}

/* Text Preceding Main Bodies */

.pretext {
	padding-top: 2.5em;
	padding-left: 12.5%;
	padding-right: 12.5%;
	font-family: CMU Serif;
	text-align: center;
	color: var(--font);
}

	.pretext a:link, .pretext a:visited {
		color: var(--font);
		text-decoration: none;
	}

	.pretext a:hover, .pretext a:active {
		color: var(--font-hover);
		text-decoration: none;
		border-bottom: 2.5px solid var(--font);
	}

/* Body Text Cages */

.bodycage {
	padding-bottom: 1.25em;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

.bodycage a:link, .bodycage a:visited {
	color: var(--font);
	text-decoration: none;
}

.bodycage a:hover, .bodycage a:active {
	color: var(--font-hover);
	text-decoration: none;
	border-bottom: 2.5px solid var(--font);
}

/* Body Text */

.body {
	font-family: CMU-Serif;
	font-size: 0.95vw;
	text-align: justify;
	line-height: 1.5vw;
	color: var(--font);
	background-color: var(--fg);
	padding-top: 0.75em;
	padding-bottom: 1.25em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	border-radius: 0.75em;
}

	.body img {
		width: 17.5em;
	}

	.body img:hover {
		cursor: pointer;
		opacity: 0.90;
	}

/* Table & List Style */

table h2, table h4 {
	border-bottom: 0.05vw solid var(--font);
}

.standard td {
	text-align: left;
	vertical-align: top;
	padding-right: 2.5em;
	padding-bottom: 1.25em;
	width:auto;
}

.center td {
	text-align: center;
	vertical-align: top;
	padding-right: 1em;
	padding-bottom: 2.5em;
	width:auto;
}

.left td {
	text-align: left;
	vertical-align: top;
	padding-right: 1em;
	padding-bottom: 2.5em;
	width:auto;
}

.right td {
	text-align: right;
	vertical-align: center;
	padding-right: 2.5em;
	padding-bottom: 0em;
	width:auto;
}

u, ul {
	text-decoration: none;
	list-style-type: lower-roman;
}

	table u, table ul {
		list-style-type: none
	}

/* Additional */

.home-image {
	background-image: url("Photos/wall-bookle.jpg");
	background-attachment: fixed;
  	background-position: top;
  	background-repeat: no-repeat;
  	background-size: cover;
  	text-align: left;
}

	.home-image-title {
		padding-top: 13.5%;
		padding-bottom: 17.5%;
	  	padding-left: 12.5%;
  		padding-right: 12.5%;
	}

		.home-image-title h1 {
			font-family: Broadway;
			font-size: 5vw;
			font-variant: small-caps;
			color: var(--ghost);
			letter-spacing: 0.25em;
			text-shadow: 1.5px 1.5px 10px #000000;
			opacity: 75%;
			margin: 0em;
		}

		.home-image-title-buttons {
			text-align: left;
			padding-top: 0.75vw;
		}

			.button-main {
		  		font-family: Proxima;
		  		font-size: 0.95vw;
		  		text-align: left;
				letter-spacing: 0.35vw;
				padding-top: 0.75vw;
				padding-bottom: 0.75vw;
				padding-left: 1.55vw;
				padding-right: 1.35vw;
				cursor: pointer;
				border: 0.1vw solid var(--ghost);
				background-color: #FFFFFF00;
				color: var(--ghost);
				opacity: 75%;
				margin-bottom: 1.25vw;
			}

			.button-main:hover {
		  		border-color: var(--ghost); 
				background-color: var(--ghost);
				color: #000000; 
				opacity: 75%;
			}
