/* coral = #fd5e53 */
/* royal blue = #002366 */
/* miami blue = ##96b9ee */

body {
	background-color: #fbeacf;
	height: 100%;
	margin: 0;
}

h1 {
	font-family: CMU Bold;
	font-size: 40px; 
	color: #ffffff;
	text-align: center;
	letter-spacing: 1px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;	
}

h2 {
	font-family: CMU Serif;
	font-size: 32px;
	color: #002366;
	font-weight: normal;
}

h3 {
	font-family: CMU Serif;
	font-size: 24px;
	color: #002366;
	font-weight: normal;
}

a:link {
	color: #002366;
	text-decoration: none;
}

a:visited {
	color: #002366;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}
		
a:active {
	color: #ffffff;
	text-decoration: none;
}

@font-face {
	font-family: Proxima;
	src: url(ProximaNova-Regular.ttf);
}

@font-face {
	font-family: CMU Bold;
	src: url(CMU Bold.ttf);
}

.heading {
	background-color: #800020;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0-9999rem;
}

.landlord {
	font-family: CMU Serif;
	font-size: 24px;
	color: #002366;
	background-color: #ffffff;
	padding-top: 27.5px;
	padding-bottom: 20px;
}

.navigation {
	font-family: CMU Serif;
	color: #ffffff;
	text-align: center;
	word-spacing: 5px;
	letter-spacing: 0.5px;
	background-color: #800020;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0-9999rem;
}

	.pages {
		font-size: 22px;
	}

	.social {
		font-size: 20px;
	}

		a.navhome:link {
			color: #ffffff;
			text-decoration: none;
		}

		a.navhome:visited {
			color: #ffffff;
			text-decoration: none;
		}

		a.navhome:hover {
			color: #002366;
			text-decoration: none;
		}
		
		a.navhome:active {
			color: #002366;
			text-decoration: none;
		}

		a.navuni:link {
			color: #ffffff;
			text-decoration: none;
		}

		a.navuni:visited {
			color: #ffffff;
			text-decoration: none;
		}

		a.navuni:hover {
			color: #002366;
			text-decoration: none;
		}
		
		a.navuni:active {
			color: #002366;
			text-decoration: none;
		}

		a.navcar:link {
			color: #ffffff;
			text-decoration: none;
		}

		a.navcar:visited {
			color: #ffffff;
			text-decoration: none;
		}

		a.navcar:hover {
			color: #002366;
			text-decoration: none;
		}
		
		a.navcar:active {
			color: #002366;
			text-decoration: none;
		}

		a.navdev:link {
			color: #ffffff;
			text-decoration: none;
		}

		a.navdev:visited {
			color: #ffffff;
			text-decoration: none;
		}

		a.navdev:hover {
			color: #002366;
			text-decoration: none;
		}
		
		a.navdev:active {
			color: #002366;
			text-decoration: none;
		}

		a.navshow:link {
			color: #ffffff;
			text-decoration: none;
		}

		a.navshow:visited {
			color: #ffffff;
			text-decoration: none;
		}

		a.navshow:hover {
			color: #002366;
			text-decoration: none;
		}
		
		a.navshow:active {
			color: #002366;
			text-decoration: none;
		}

		a.navblog:link {
			color: #ffffff;
			text-decoration: none;
		}

		a.navblog:visited {
			color: #ffffff;
			text-decoration: none;
		}

		a.navblog:hover {
			color: #002366;
			text-decoration: none;
		}
		
		a.navblog:active {
			color: #002366;
			text-decoration: none;
		}

		a.facebook:link {
			color: #ffffff;
			text-decoration: none;
		}

		a.facebook:visited {
			color: #ffffff;
			text-decoration: none;
		}

		a.facebook:hover {
			color: #002366;
			text-decoration: none;
		}
		
		a.facebook:active {
			color: #002366;
			text-decoration: none;
		}

		a.instagram:link {
			color: #ffffff;
			text-decoration: none;
		}

		a.instagram:visited {
			color: #ffffff;
			text-decoration: none;
		}

		a.instagram:hover {
			color: #002366;
			text-decoration: none;
		}
		
		a.instagram:active {
			color: #002366;
			text-decoration: none;
		}

		a.twitter:link {
			color: #ffffff;
			text-decoration: none;
		}

		a.twitter:visited {
			color: #ffffff;
			text-decoration: none;
		}

		a.twitter:hover {
			color: #002366;
			text-decoration: none;
		}
		
		a.twitter:active {
			color: #002366;
			text-decoration: none;
		}

		a.theva:link {
			color: #ffffff;
			text-decoration: none;
		}

		a.theva:visited {
			color: #ffffff;
			text-decoration: none;
		}

		a.theva:hover {
			color: #002366;
			text-decoration: none;
		}
		
		a.theva:active {
			color: #002366;
			text-decoration: none;
		}

.summary {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: center;
}

	.small {
		line-height: 1.75;
	}

.intro {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

	.intro img {
		float: right;
		max-width: 300px;
		max-height: 300px;
		padding-left: 50px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

.skill_matrix {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	padding-left: 15%;
	padding-right: 15%;
}

.interests {
	font-family: Proxima; 
	font-size: 16px;
	color: #002366;
	padding-left: 15%;
	padding-right: 15%;
}

.arkham {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	padding-left: 15%;
	padding-right: 15%;
}

.ifinterested {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.footer {
	font-family: CMU Serif;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	background-color: #800020;
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0-9999rem;
}

.unitimescale {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
}

.unisummary {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.uniprojects {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.uniroles {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.careersumm {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.revenue {
	font-family: Proxima;
	font-size: 16px; 
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.media {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

	table {
		font-family: Proxima;
		font-size: 16px;
		color: #002366;
		border: 0px solid black;
	}

		th, td {
			text-align: left;
			vertical-align: top;
			padding-left: 5px;
			padding-right: 5px;
			border: 0px solid black;
		}

		u {
			line-height: 1.5;
			text-decoration: none;
		}

.life {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.showcaseintro {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.avril {
	text-align: center;
}

	.avril img {
		float: center;
		max-width: 500px;
		max-height: 1000px;
	}

.blogintro {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.blogshell {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%
}

.debunkquickie {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}
