/* coral = #fd5e53 */
/* royal blue = #002366 */
/* miami blue = ##96b9ee */

body {
	background-color: #fbeacf;
}

h1 {
	font-family: CMU Serif;
	font-size: 40px; 
	color: #002366;
	text-align: center;
	letter-spacing: 1px;
	font-weight: normal;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0px;
	margin-bottom: 0px;	
}

h2 {
	font-family: CMU Serif;
	font-size: 32px;
	color: #002366;
	font-weight: normal;
}

h3 {
	font-family: CMU Serif;
	font-size: 24px;
	color: #002366;
	font-weight: normal;
	padding-top: 6px;
	padding-bottom: 0px;
}

@font-face {
	font-family: Proxima;
	src: url(ProximaNova-Regular.ttf);
}

.navigation {
	font-family: CMU Serif;
	color: #002366;
	text-align: center;
	word-spacing: 5px;
	letter-spacing: 0.5px;
}

	a:link {
		color: #002366;
		text-decoration: none;
	}

	a:visited {
		color: #002366;
		text-decoration: none;
	}

	a:hover {
		color: #ffffff;
		text-decoration: none;
	}
		
	a:active {
		color: #ffffff;
		text-decoration: none;
	}
	
	.pages {
		font-size: 22px;
	}

	.social {
		font-size: 20px;
	}

.summary {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: center;
}

	.small {
		line-height: 1.75;
	}

.intro {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

	.intro img {
		float: right;
		max-width: 300px;
		max-height: 300px;
		padding-left: 50px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

.skill_matrix {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	padding-left: 15%;
	padding-right: 15%;
}

.interests {
	font-family: Proxima; 
	font-size: 16px;
	color: #002366;
	padding-left: 15%;
	padding-right: 15%;
}

.ifinterested {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.footer {
	font-family: CMU Serif;
	font-size: 20px;
	color: #002366;
	text-align: center;
}

.unitimescale {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
}

.unisummary {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.uniprojects {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.uniroles {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.careersumm {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.revenue {
	font-family: Proxima;
	font-size: 16px; 
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.media {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

	table {
		font-family: Proxima;
		font-size: 16px;
		color: #002366;
		border: 0px solid black;
	}

		th, td {
			text-align: left;
			vertical-align: top;
			padding-left: 5px;
			padding-right: 5px;
			border: 0px solid black;
		}

		u {
			line-height: 1.5;
			text-decoration: none;
		}

.life {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.showcaseintro {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.avril {
	text-align: center;
}

	.avril img {
		float: center;
		max-width: 500px;
		max-height: 1000px;
	}

.blogintro {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}

.blogshell {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%
}

.debunkquickie {
	font-family: Proxima;
	font-size: 16px;
	color: #002366;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
}
