/* Fonts */

@font-face {
        font-family: Broadway;
        src: url(./Fonts/Broadway-Regular.ttf);
}

@font-face {
	font-family: ProximaBd;
	src: url(./Fonts/ProximaNova-Bold.ttf);
}

@font-face {
	font-family: Proxima;
	src: url(./Fonts/ProximaNova-Regular.ttf);
}

/* Variables */

:root {
        --background-login: #FD5E53;
	--background: #800000;
	--foreground: linear-gradient(to bottom left, #510400 40%, #A41034);
        --header-footer: linear-gradient(to bottom right, #000000 20%, #54001F);
	--drop: #510400;
        --font: #FFFFFF;
	--font-hover: #F890E7;
	--link-trans: 0.25s;
	--seat: #505050;
	--seat-occupied: #0BD3D3;
	--seat-selected: #F890E7;
}

/* Basics */

* {
	box-sizing: border-box;
}

h1 {
	font-family: Broadway;
	font-size: 64px;
	font-weight: normal;
	font-variant: small-caps;
	color: #0BD3D3;
	text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.75);
}

h2 {
	font-family: Broadway;
	font-size: 64px;
	font-weight: normal;
	font-variant: small-caps;
	color: #F890E7;
	text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.0625);
}

h3 {
	font-family: Broadway;
	font-size: 32px;
	font-weight: normal;
	font-variant: small-caps;
	color: #F890E7;
	text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.0625);
}

body {
  	font-family: Proxima;
  	background-color: var(--background);
  	display: flex;
  	flex-direction: column;
	margin: 0;
}

div {
}

b {
	font-family: ProximaBd;
}

a {
	color: var(--font);
	text-decoration: none;
	transition: color 1.25s;
}

a:hover {
	color: var(--font-hover);
	cursor: pointer;
	transition: color 1.25s;
}

/* Miami Vice Headings */

.miami-base {
	text-align: center;
	background-color: #0BD3D3;
	width: 100%;
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.75);
}

.miami-base-small {
	text-align: center;
	background-color: rgba(11, 211, 211, 0.5);
  	width: 100%;
}

/* Controllers */

.close {
	margin: 0;
	padding: 0;
	font-size: 96px;
}

	@media only screen and (max-width: 1026px) {
                .close {
			font-size: 64px;
                }
        }

/* Login Forms */

.login {
        text-align: center;
        color: var(--font);
  	background-color: #FFFFFF;
        border-radius: 0.25em;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
        justify-content: center;
        align-items: center;
        margin: 4em 2.5em 4em 2.5em;
        padding: 5em 2.5em 5em 2.5em;
}

	@media only screen and (max-width: 1026px) {
                .login {
			min-height: 100vh;
			margin: 0;
                }
        }

	.form__input, .form__input-small, .form__input-time, .form__input-cinema, .form__button {
		font: 1em Proxima;
	}

		.form--hidden {
		    	display: none;
		}

		.form > *:first-child {
		    	margin-top: 0;
		}

		.form > *:last-child {
		    	margin-bottom: 0;
		}

		.form__title {
			margin-bottom: 2rem;
		    	text-align: center;
		}

		.form__message {
		    	text-align: center;
		    	margin-bottom: 1rem;
		}

		.form__message--success {
		    	color: green;
		}

		.form__message--error {
		    	color: red;
		}

		.form__input-group {
		    	margin-bottom: 1em;
		}

		.form__input {
		    	display: block;
	    		width: 100%;
	    		box-sizing: border-box;
	    		border-radius: 0.25em;
	    		border: 2.5px solid #F890E7;
	    		outline: none;
	    		background: #0BD3D3;
	    		transition: background 1.25s, border-color 1.25s;
	    		padding: 0.75em;
		}

			.form__input:focus, .form__input-small:focus, .form__input-time, .form__input-cinema:focus {
	    			background: #FFFFFF;
	    			border-color: #0BD3D3;
			}

			.form__input--error {
	    			color: red;
	    			border-color: red;
			}

		.form__input-small {
		    	display: block;
	    		width: 50%;
	    		box-sizing: border-box;
	    		border-radius: 0.25em;
	    		border: 1.5px solid #F890E7;
	    		outline: none;
	    		background: #0BD3D3;
	    		transition: background 1.25s, border-color 1.25s;
	    		padding: 0.5em;
		}

			@media only screen and (max-width: 1026px) {
                               .form__input-small {
                                        width: 100%;
                                }
                        }

		.form__input-time {
		    	display: inline;
	    		width: 25%;
	    		box-sizing: border-box;
	    		border-radius: 0.25em;
	    		border: 1.5px solid #F890E7;
	    		outline: none;
	    		background: #0BD3D3;
	    		transition: background 1.25s, border-color 1.25s;
	    		padding: 0.5em;
		}

			@media only screen and (max-width: 1026px) {
                               .form__input-time {
                                        width: 49%;
                                }
                        }
				
				.short {
					height: 30px;
				}

				@media only screen and (max-width: 1026px) {
                         	      .short {
                         	               width: 20%;
					       height: 20px;
                         	       }
                        	}

		.form__input-cinema {
		    	display: block;
	    		width: 100%;
	    		box-sizing: border-box;
	    		border-radius: 0.25em;
	    		border: 1.5px solid #F890E7;
	    		outline: none;
	    		background: #0BD3D3;
	    		transition: background 1.25s, border-color 1.25s;
	    		padding: 0.5em;
		}

		.form__input-error-message {
		    	margin-top: 0.5rem;
		    	font-size: 0.85rem;
		    	color: red;
		}	

		.form__button {
		    	font-weight: bold;
		    	font-size: 15px;
			font-variant: small-caps;
			letter-spacing: 1px;
		    	color: #FFFFFF;
		    	width: 100%;
		    	border: none;
		    	border-radius: 0.25em;
			margin-top: 5px;
			margin-bottom: 5px;
		    	padding: 15px;
		    	cursor: pointer;
		    	background: #F890E7;
			transition: color 1.25s, background 1.25s;
		}
	
			.form__button:hover {
				color: #F890E7;
	    			background: #0BD3D3;
				transition: color 1.25s, background 1.25s;
			}

			.form__button:active {
	    			transform: scale(0.98);
			}

		.form__button-small {
		    	font-weight: bold;
		    	font-size: 15px;
			font-variant: small-caps;
			letter-spacing: 1px;
		    	color: #FFFFFF;
	    		width: 25%;
		    	border-radius: 0.25em;
	    		border: 1.5px solid #F890E7;
	    		outline: none;
			margin-top: 5px;
			margin-bottom: 5px;
	    		padding: 0.5em;
		    	cursor: pointer;
	    		background: #0BD3D3;
			transition: color 1.25s, background 1.25s, border-color 1.25s;
		}

			.wide {
				width: 50%;
			}

			@media only screen and (max-width: 1026px) {
                               .form__button-small {
                                        width: 100%;
                                }
                        }
	
			.form__button-small:hover {
				color: #F890E7;
	    			background: #FFFFFF;
				transition: color 1.25s, background 1.25s;
			}

			.form__button-small:active {
	    			transform: scale(0.98);
			}

		.form__text {
	    		text-align: center;
		}

		.form__link {
		    	color: #F890E7;
		    	text-decoration: none;
		    	cursor: pointer;
		}

			.form__link:hover {
			    	text-decoration: underline;
				transition: underline 1s;
			}

/* Header & Footer */

.header {
	background-image: var(--header-footer);
        height: 125px;
        padding-left: 7.5%;
        padding-right: 7.5%;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

	.title {
                float: left;
                text-align: left;
                margin-top: 25px;
        }

		.title h1 {
		        font-size: 32px;
                	letter-spacing: 5px;
			text-shadow: none;
			margin: 0;
		}

		.title h2 {
			font-family: EB Garamond;
		        font-size: 26px;
                	letter-spacing: 2px;
			text-shadow: none;
			margin: 0;
		}

	.navigation {
                float: right;
                text-align: right;
		font-variant: small-caps;
                letter-spacing: 3.5px;
                word-spacing: 5px;
                margin-top: 50px;
        }

		.pages-desktop, .pages-mobile {
                        font-size: 18px;
                        color: var(--font);
                }

		.pages-mobile {
                        font-variant: small-caps;
                        background-color: var(--drop);
                        text-align: right;
                        z-index: -1;
                        margin: 0;
                        padding: 1em 12.5% 1em 12.5%;
                }

                        @media only screen and (max-width: 1026px) {
                                .pages-desktop {
                                        display: none;
                                }
                        }

                        @media only screen and (min-width: 1026px) {
                                .pages-mobile, .pages-mobile-button {
                                        display: none;
                                }
                        }

                        .pages-desktop a:link, .pages-desktop a:visited,
			.pages-mobile-button a:link, .pages-mobile-button a:visited,
			.pages-mobile a:link, .pages-mobile a:visited {
                                color: var(--font);
                                text-decoration: none;
                                transition: color var(--link-trans);
                        }

                        .pages-desktop a:hover, .pages-dekstop a:active,
			.pages-mobile-button a:hover, .pages-mobile-button a:active,
			.pages-mobile a:hover, .pages-mobile a:active {
                                color: var(--font-hover);
                                text-decoration: none;
                                transition: color var(--link-trans);
                        }

                        .pages-mobile u {
                                list-style-type: none;
                                text-decoration: none;
                                letter-spacing: 3.5px;
                                word-spacing: 5px;
                        }

                        .pages-mobile li:hover {
                                color: var(--font-hover);
                        }

                        .pages-drop {
                                display: inline-block;
                                position: auto;
                        }

                        .pages-drop:hover .pages-drop-cont {
                                display: block;
                        }

				.pages-drop-cont {
                                        font-size: 12px;
                                        font-variant: small-caps;
                                        text-align: left;
                                        line-height: 25px;
                                        background-image: var(--header-footer);
                                        display: none;
                                        position: fixed;
                                        margin-top: 0.25em;
                                        margin-right: 0.5em;
                                        padding: 1em;
                                }

.footer {
        font-family: Proxima;
        font-size: 16px;
        text-align: center;
        color: var(--font);
        background-image: var(--header-footer);
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 12.5%;
        padding-right: 12.5%;
        margin: 0em;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

	@media only screen and (max-width: 1026px) {
                .footer {
			display: none;
                }
        }

/* Body */

.bodycage {
	margin: 2.5em;
        padding-left: 10%;
        padding-right: 10%;
}

	@media only screen and (max-width: 1026px) {
                .bodycage {
			margin: 0;
                        padding: 2.5%;
                }
        }

        .bodytext {
                font-size: 16px;
                text-align: justify;
                line-height: 25px;
		min-height: 100vh;
                color: var(--font);
		border-radius: 0.75em;
                background-image: var(--foreground);
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
                transition: background var(--dark-trans);
                padding: 2.5em;
        }

		.bodytext h1, .bodytext h2 {
			text-align: left;
			line-height: 50px;
		}
 		
		.bodytext h3 {
			text-align: left;
		}

		.fill {
                        margin: 7.5em 0 7.5em 0;
                }

		.cinema {
			display: flex;
        		flex-direction: column;
        		align-items: center;
        		justify-content: center;
		}

		label {
			font-variant: small-caps;
		}

table {
        border-collapse: collapse;
}

	@media only screen and (max-width: 1026px) {
	        table {
	                font-size: 0.5vw;
	                width: 100%;
	        }
	}

td {
	padding: 1em;
}

u, ul {
	list-style-type: none;
	text-decoration: none;
}




/* Theatre Booking */

.movie-container, .screen-container {
	text-align: left;
	margin-bottom: 2.5em;
}

	.movie-container h3 {
		line-height: 30px;
		text-align: center;
	}

.screen-container {
  	perspective: 1000px;
}

	.screen {
	  	background-color: var(--font);
	  	height: 70px;
	  	width: 100%;
	  	transform: rotateX(-45deg);
	  	box-shadow: 0 3px 30px rgba(255, 255, 255, 0.75);
	  	margin: 0 0 30px 0;
	}

.seat-type-container {
	padding-left: 15%;
	padding-right: 15%;
}

	.seat-type {
	  	background-color: rgba(0, 0, 0, 0.25);
	  	border-radius: 5px;
	  	color: var(--font);
	  	list-style-type: none;
	  	display: flex;
	  	justify-content: space-between;
		width: 100%;
	  	padding: 5px 10px;
	}

	.seat-type .seat:not(.occupied):hover {
	  	cursor: default;
	  	transform: scale(1);
	}

	.seat-type li {
	  	display: flex;
	  	align-items: center;
	  	justify-content: center;
	  	margin: 0 10px;
	}

	.seat-type li small {
	  	margin-left: 10px;
	}

.row1, .row2, .row3, .row4 {
	width: 100%;
  	display: flex;
}

	.seat {
		background-color: var(--seat);
		height: 12px;
	  	width: 15px;
	  	margin: 3px;
	  	border-top-left-radius: 5px;
	  	border-top-right-radius: 5px;
	}
	
		.seat.occupied {
		  	background-color: var(--seat-occupied);
		}

		.seat.selected {
		  	background-color: var(--seat-selected);
		}

		.seat:nth-of-type(2) {
		  	margin-right: 18px;
		}

		.seat:nth-of-type(6) {
		  	margin-right: 18px;
		}

		.seat:nth-last-of-type(4) {
		  	margin-left: 18px;
		}

		.seat:not(.occupied):hover {
		  	cursor: pointer;
		  	transform: scale(1.2);
		}

#count1, #total1, #showing1,
#count2, #total2, #showing2,
#count3, #total3, #showing3,
#count4, #total4, #showing4 {
	color: #F890E7;
}
